body{
    display: flex;
    background-color: rgb(117, 117, 117);
    justify-content: center;
    margin-top: 50px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border-color: rgb(82, 82, 82);
    border-style: solid;
    background-color: #ffffff;
    color: #4a4a4a;
}
button:hover{
    background-color: rgb(171, 171, 171);
    border-color: black;
    border-style: solid;
    color: black;
}
.content{
    padding: 20px;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
}